@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #F84565;
    --color-primary-dull: #D63854;
}

* {
    font-family: "Manrope", "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple lightgray;
}

body {
    color: white;
    background-color: #09090B;
}

.no-scrollbar {
    scrollbar-width: none;
}